.atu-boxinfo {
    background-color: #007c5a;
    padding: 15px 15px;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    
}

.atu-monitoramento, .atu-desmatamento, .atu-safras, .atu-fenologia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1200px;
    gap: 50px 50px;
    padding-bottom: 10px;
}

.atu-content {
    width: 40%; 
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    font-size: 0.9rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 15px;
}

.atu-content h2 {
    text-align: left;
}
.atu-content p{
    padding-top: 10px;
}

.accordion {
    width: 100%; 
    overflow: hidden;
}

.accordion-header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: transparent; 
    cursor: pointer;
    font-weight: 600;
    color: #245C4D;
    transition: color 0.1s;
    
}

.accordion-header:hover {
    color: #007c5a;
    background-color: transparent;
}

.accordion-header .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 10px; 
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #007c5a; 
    transition: background-color 0.3s, transform 0.3s;
    content: '+'; 
    visibility: visible;
    border-radius: 15px;
}

.accordion-body {
    max-height: 0; 
    padding: 0 0 0 30px; 
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.accordion-body p {
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.accordion-body ul {
    padding-left: 20px;
    padding-bottom: 15px;
}



.accordion-checkbox:checked + .accordion-header .icon {
    background-color: #2F4F4F; 
    
}

.accordion-checkbox:checked + .accordion-header {
    color: #2F4F4F;
}

.accordion-checkbox:checked ~ .accordion-body {
    max-height: 100px; 
    padding: 10px 0 15px 30px; 
}



.atu-monitoramento,
.atu-safras {
    align-self: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}


.atu-desmatamento,
.atu-fenologia {
    flex-direction: row-reverse; 
    align-self: flex-end;
    margin-right: 10%;
    margin-left: 10%;
}


.atu-img1 {
    background-image: url(../../assets/image/monitoramento-sf.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.atu-img2 {
    background-image: url(../../assets/image/analise-sf.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    flex-grow: 0;
}

.atu-img3 {
    background-image: url(../../assets/image/produtividade-sf.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.atu-img4 {
    background-image: url(../../assets/image/fenologia-sf.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    flex-grow: 0;
}


@media (max-width: 900px) {
    .atu-monitoramento, 
    .atu-desmatamento,
    .atu-safras,
    .atu-fenologia {
        flex-direction: column; 
        align-self: center; 
        width: 95%;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .atu-content {
        width: 100%; 
        order: 2; 
        margin-top: 10px;
    }

    .atu-img1,
    .atu-img2,
    .atu-img3,
    .atu-img4 {
        width: 90%; 
        height: 250px;
        order: 1; 
        margin: 0;
    }
}


.accordion-body li::marker {
    color:#2F4F4F; 
}

.btn-projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; 
  border: none;
  background-color: #007bff;
  padding: 12px 30px; 
  height: 40px; 
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.btn-projeto a.btn-name {
    color: #ffffff; 
    text-decoration: none; 
    font-size: 1em; 
    white-space: nowrap; 
    text-align: center; 
}

