.selected-box:hover .dropdown-content {
    margin-top: -22px;
  }
  
  hr {
    width: 70%;
    height: 0%;
    margin: 10px auto;
  }
  
  .atu-title {
    padding-top: 20px;
  }
  
  .colab-img1INPE {
    background-image: url(../../assets/image/pc_home_INPE.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }

  .colab-img2BRAZILDATACUBE {
    background-image: url(../../assets/image/pc_home_BRAZILDATACUBE.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img3CONAB {
    background-image: url(../../assets/image/pc_home_CONAB.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img4CNPQ {
    background-image: url(../../assets/image/pc_home_CNPQ.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img5FAPESP {
    background-image: url(../../assets/image/pc_home_FAFESP.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img6CAPES {
    background-image: url(../../assets/image/pc_home_CAPES.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-imgs1 {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 100px;

  }

  .colab-imgs2 {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 100px;
    margin-top: -10%; 
  }

  main a{
    width: 40%;
  }

  
 
@media (max-width: 1400px) {

}

  .colab-img1INPE {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }

  .colab-img2BRAZILDATACUBE {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img3CONAB {
    background-image: url(../../assets/image/pc_home_CONAB.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img4CNPQ {
    background-image: url(../../assets/image/pc_home_CNPQ.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img5FAPESP {
    background-image: url(../../assets/image/pc_home_FAFESP.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .colab-img6CAPES {
    background-image: url(../../assets/image/pc_home_CAPES.webp);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }



@media (max-width: 1120px) {

}

@media (max-width: 1030px) {

}

@media (max-width: 900px) {

} 

@media (max-width: 610px) {
}
  
@media (max-width: 410px) {

}

@media (max-width: 380px) {

}

@media (max-width: 350px) {

}