:root {
    --color-1: #2F4F4F;
    --color-2: #ffffff;
    --color-3: #000000;
    --color-4: #efecec;
    --color-5: #245C4D;
    --color-6: #0574BB;
}
#btn-enviar {
    background-color: var(--color-2);
    color: var(--color-1);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}
main {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

iframe {
    border-radius: 30px;
    margin-bottom: 10px;
}

.co-form-content {
    margin-left: 10%;
    width: 80%;
    background-color: var(--color-4);
    border-radius: 30px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.co-form-left {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.co-form-right {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--color-6);
    height: 700px;
    border-radius: 30px;

}

.co-social-media {
    display: flex;
    width: 100%;
    justify-content: center;
}

.co-linkedin {
    background-image: url(../../assets/svg/Linkedin-verde.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.co-instagram {
    background-image: url(../../assets/svg/Instagram-verde.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

form .co-form-title {
    width: 100%;
    text-align: center;
    color: var(--color-2);
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
}

input {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: var(--color-4);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    border-radius: 10px;
    height: 300px;
    background-color: var(--color-4);
    padding-left: 10px;
    padding-right: 10px;
}

button {
    height: 40px;
    border-radius: 20px;
    width: 100px;
    background-color: var(--color-2);
    border: none;
}

.co-button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.co-button button {
    background-color: white;
    transition: background-color 0.3s ease; /* AQUI é a transição certa */
}

.co-button button:hover {
    background-color: rgb(207, 219, 207);
}

.co-form-left p {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .co-form-content {
        flex-direction: column;
        height: auto;
        background-color: #00000000;
        width: 100%;
        margin: 0;
    }

    .co-form-left {
        width: 100%;
    }

    .co-form-right {
        width: 100%;
    }

    .co-social-media {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .co-form-content {
    box-shadow: none;
}
.co-form-right{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
}

.sw-switch {
    position: absolute;
    width: 90px;
    height: 20px;
    top: 6px;
    margin-left: 87%;
}