:root {
      --color-1: #2F4F4F;
      --color-2: #ffffff;
      --color-3: #000000;
      --color-4: #efecec;
      --color-5: #245C4D;
      --color-6: #0574BB;
}

.mb-card {
      background-color: #D9D9D9;
      width: 300px;
      height: 450px;
      flex-direction: column;
      border-radius: 20px;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      transition: opacity 0.4s ease-in-out;

}

.mb-img img {
      height: 350px;
      width: 300px;
      display: block;
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
}

.mb-bottom {
      height: 100px;
      background-color: var(--color-6);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--color-2);
      flex-direction: column;
      align-items: center;
      border-radius: 0px 0px 20px 20px;
}

.mb-name {
      font-size: 24px;
}

.mb-desc {
      font-size: 16px;
      text-align: center;
}

.mb-overlay {
      background-color: var(--color-4);
      width: 300px;
      height: 450px;
      flex-direction: column;
      border-radius: 20px;
      align-items: center;
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.4s ease-in-out;
}

.mb-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 350px;
      justify-content: space-around;
      width: calc(100% - 50px);
}

.mb-content p {
      max-height: fit-content;
}

.mb-upper {
      border-radius: 20px 20px 0px 0px;
      color: var(--color-2);
      width: 100%;
}

button {
      width: 260px;
      height: 50px;
      border: none;
      background-color: #0574BB;
      color: var(--color-2);
      border-radius: 50px;
      letter-spacing: 2px;
      font-size: 13px;
      cursor: pointer;
}

.mb-card-container {
      width: 300px;
      height: 450px;
      position: relative;
}

.mb-card-container:hover .mb-overlay {
      opacity: 1;
      z-index: 3;

}

.mb-card-container:hover .mb-card {
      opacity: 0;
}


.mb-title {
      width: 80%;
      position: relative;
      color: var(--color-1);
      margin-bottom: 3%;
      height: 50px;
}

.mb-title::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: var(--color-3);
}

.mb-subtitle {
      width: 100%;
      position: relative;
      color: var(--color-1);
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
      height: 35px;
}

.mb-subtitle::after {
      content: " ";
      position: absolute;
      width: 8%;
      bottom: 0;
      height: 1px;
      background-color: var(--color-3);
}

.mb-cards {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 5%;
}

.mb-little p {
      font-size: 11px;
}

.mb-bio {
      font-size: 13px;
}

a {
      text-decoration: none;
}

@media (min-width: 1920px) {
      .mb-cards {
            margin-bottom: 10%;
      }

      .mb-card {
            width: 450px;
            height: 600px;
      }

      .mb-img img {
            width: 450px;
            height: 500px;
      }

      .mb-bottom {
            height: 100px;
            gap: 10px;
      }

      .mb-name {
            font-size: 35px;
      }

      .mb-desc {
            font-size: 25px;
      }

      .mb-overlay {
            width: 450px;
            height: 600px;
      }

      .mb-content {
            height: 500px;
      }

      .mb-bio p {
            font-size: 16px;
      }

      button {
            height: 55px;
            letter-spacing: 4px;
            font-size: 22px;
      }

      .mb-card-container {
            width: 450px;
            height: 600px;
      }

      .mb-title {
            height: 70px;
      }

      .mb-title h1 {
            font-size: 50px;
      }

      .mb-subtitle p {
            font-size: 45px;
      }

      .mb-subtitle::after {
            height: 2px;
      }

      .mb-subtitle {
            height: 64px;
      }

      .mb-title::after {
            height: 2px;
      }

      .mb-little p {
            font-size: 16px;
      }
}

@media (max-width: 1120px) {

      .mb-desc {
            font-size: 21px;
      }

      .mb-card {
            width: 275px;
            height: 475px;
      }

      .mb-img img {
            width: 275px;
            height: 375px;
      }

      .mb-overlay {
            width: 275px;
            height: 475px;
      }

      .mb-card-container {
            width: 275px;
            height: 475px;
      }

      .mb-bottom {
            gap: 0px;
      }
}

@media (max-width: 1030px) {

      .mb-card {
            width: 250px;
            height: 425px;
      }

      .mb-img img {
            width: 250px;
            height: 325px;
      }

      .mb-overlay {
            width: 250px;
            height: 425px;
      }

      .mb-card-container {
            width: 250px;
            height: 425px;
      }

      .mb-bio p {
            font-size: 12px;
      }

      .mb-little p {
            font-size: 9.9px;
      }

      button {
            width: 200px;
            height: 40px;
            font-size: 12px;
      }

      .mb-bottom {
            gap: 0px;
      }

}

@media (max-width: 900px) {

      .mb-cards {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 100px;
            margin-bottom: 10%;
      }

      .mb-card {
            width: 450px;
            height: 675px;
      }

      .mb-img img {
            width: 450px;
            height: 575px;
      }

      .mb-bottom {
            height: 100px;
      }

      .mb-name {
            font-size: 35px;
      }

      .mb-desc {
            font-size: 25px;
      }

      .mb-overlay {
            width: 450px;
            height: 675px;
      }

      .mb-content {
            height: 675px;
      }

      .mb-bio p {
            font-size: 23px;
      }

      .mb-little p {
            font-size: 19px;
      }

      button {
            height: 55px;
            letter-spacing: 4px;
            font-size: 22px;
      }

      .mb-card-container {
            width: 450px;
            height: 675px;
      }

      .mb-title {
            height: 70px;
      }

      .mb-title h1 {
            font-size: 50px;
      }

      .mb-subtitle p {
            font-size: 45px;
      }

      .mb-subtitle::after {
            width: 20%;
            height: 3px;
      }

      .mb-subtitle {
            height: 70px;
            margin: 20px 0px 40px;
      }

      .mb-title::after {
            height: 2px;
      }
}

@media (max-width: 610px) {

      .mb-subtitle p {
            font-size: 40px;
      }

}

@media (max-width: 540px) {

      .mb-card {
            width: 300px;
            height: 450px;
      }

      .mb-img img {
            width: 300px;
            height: 350px;
      }

      .mb-overlay {
            width: 300px;
            height: 450px;
      }

      .mb-content {
            height: 325px;
      }

      .mb-bio p {
            font-size: 14px;
      }

      .mb-little p {
            font-size: 11.5px;
      }

      button {
            height: 45px;
            letter-spacing: 3px;
            font-size: 20px;
      }

      .mb-card-container {
            width: 300px;
            height: 450px;
      }

      .mb-title {
            height: 58px;
      }

      .mb-title h1 {
            font-size: 40px;
      }

      .mb-subtitle p {
            font-size: 30px;
      }

      .mb-subtitle::after {
            width: 20%;
            height: 3px;
      }

      .mb-subtitle {
            height: 50px;
            margin: 20px 0px 40px;
      }

      .mb-name {
            font-size: 29px;
      }

      .mb-desc {
            font-size: 20px;
      }
}

@media (max-width: 410px) {

      .mb-subtitle p {
            font-size: 28px;
      }

}

@media (max-width: 380px) {

      .mb-subtitle p {
            font-size: 25px;
      }

}

@media (max-width: 350px) {

      .mb-subtitle p {
            font-size: 23px;
      }

}