:root {
      --color-1: #2F4F4F;
      --color-2: #ffffff;
      --color-3: #000000;
      --color-4: #efecec;
      --color-5: #245C4D;
}

.ni-title {
      width: 100%;
      align-items: center;
      margin-bottom: 3%;
}

.ni-title h1 {
      font-size: 50px;
      color: var(--color-5);
}

.ni-title p {
      font-size: 25px;
      color: var(--color-3);
      width: 100%;
}

.ni-date {
      text-align: end;
}

.ni-date {
      font-size: 24px;
      color: var(--color-3);
}

.ni-img {
      height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 90%;
      border-radius: 15px;
      margin-bottom: 3%;
}

.ni-content {
      align-items: center;
      display: flex;
      justify-content: center;
}

.ni-text {
      width: 90%;
      font-size: 24px;
      text-align: justify;
      line-height: 30px;
}

.ni-reference {
      justify-content: end;
      display: flex;
      margin: 4% 0% 4% 0%;
}

.ni-reference p {
      text-align: justify;
      width: 90%;
      line-height: 20px;
      font-size: 16px;
}

@media (max-width: 900px) {
      .ni-title h1 {
            font-size: 60px;
      }

      .ni-text {
            width: 90%;
      }
}

@media (max-width: 700px) {
      .ni-img {
            height: 450px;
      }
}

@media (max-width: 600px) {

      .ni-title h1 {
            font-size: 40px;
      }

      .ni-title p {
            font-size: 25px;
      }
}

@media (max-width: 400px) {
      .ni-img {
            height: 350px;
      }

      .ni-title p {
            font-size: 20px;
      }

      .ni-text {
            font-size: 20px;
            line-height: 25px;
      }
}