#pr-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.pr-line {
    width: 80%;
    height: 1px;
    background-color: black;
    margin-bottom: 1rem;
    border-radius: 2px;
    box-sizing: border-box;
}

form {
    height:max-content;
    max-width: 100%;
    width: 100%;
    height: 120px;
    background-color: #0575bb11;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#palavra-chave {
    width: 600px;
    border-radius: 20px;
    background-color: #245C4D4D;
    border-color: #2F4F4F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#palavra-chave::placeholder {
    color: #00000080;
    text-indent: 20px;
}

fieldset {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    height: min-content;
    width: 100%;
    flex-wrap:nowrap;
    border: none;
    align-items: center;
}
legend{
    float: left;
    width: 100px;
    text-align: right;
}

.pr-filters {
    justify-content: center;
    border-radius: 20px;
    background-color: #2F4F4F;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pr-search-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    gap: 5px;
}
.pr-nome{
    color: #fff;
    width: 150px;
}
#nomeprojeto::placeholder {
    color: white;
    text-indent: 10px;
}

.search-box {
    position: relative;
    display: flex;

}

.search-box input {
    width: 300px;
    outline: none;
}

.search-box input:focus {
    border-color: #007bff;
}

.search-button {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-button svg {
    color: #888;
    transition: color 0.2s ease;
}

.search-button:hover svg {
    color: #007bff;
}

#aplicar {
    max-width: 100%;
    width: 200px;
    background-color: #0574BB;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}

article img {
    width: 30%;
    height: fit-content;
    order: 2;
    float: right;
    border: 2px solid #00000033;
    border-radius: 5px;
}

.article-text {
    width: 60%;
    margin-bottom: 10px;
    margin-right: 10%;
}

article::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    font-weight: bold;
}

h6 {
    display: inline-block;
    margin-right: 2rem;
}

article p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a {
    color: black;
}
.button {
    width: 260px;
    height: 50px;
    border: solid transparent;
    background-color: #04619b;
    color: var(--color-2);
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    border-width: 0 0 4px;
    box-sizing: border-box;
    font-family: din-round, sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
}

.button:after {
    background-clip: padding-box;
    background: radial-gradient(circle, rgba(5, 116, 187, 1) 0%, rgba(4, 97, 155, 1) 42%, rgba(11, 80, 122, 1) 100%);
    border: solid transparent;
    border-radius: 30px;
    border-width: 0 0 3px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button,
.button:focus {
    user-select: auto;
}

.button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button:disabled {
    cursor: auto;
}

.button:active {
    border-width: 4px 0 0;
    background: none;
}

@media (max-width: 900px) {
    section {
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

    form {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    article {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .article-text {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    h6 {
        display: block;
        text-align: right;
        margin-top: 0;
        margin-right: 10px;
        display: flex;
        order: 2;
        flex-direction: column;
        justify-content: center;
        align-self: flex-end;
    }

    article img {
        width: 40%;
        order: 1;
        align-self: center;
        margin-right: 10px;

    }

    article p {
        display: none;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .pr-filters {

        max-width: 90%;
        margin-bottom: 10px;

    }

    #palavra-chave {
        width: 100%;
    }

    .search-box {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
    }

    .search-box input {
        width: 100%;
        max-width: 300px;
        padding-right: 40px;
    }

    .search-button {
        position: absolute;
        right: 10px;
        margin-top: 5px;
        top: 30%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        cursor: pointer;
    }

    #aplicar {

        justify-content: center;
        margin-left: 0;
    }
}



@media (max-width:300px) {
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .article-text {
        font-size: 0.6rem;
    }

    form {
        font-size: 0.6rem;
    }

}