.vai-content-block {
    margin-bottom: 3%;
  
    ;
}

.vai-content-title {
    font-weight: 600;
    color: #2F4F4F
}

#va{
    border-radius: 8px;
    box-shadow: 2px 2px 5px gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;    /* Dá um espaço no topo */
    padding-bottom: 20px; /* Dá um espaço embaixo para o botão "Voltar" */
    margin-bottom: 50px;
    
    
}

#vai-content-btn {
    text-decoration: none;
    color: #fff;
    background-color: #2F4F4F;
    border-radius: 20px;
    border-style: none;
    padding: 7px;
}

#va-title__info>p {
    font-size: 20px;
}

.vai-content-block>ul>li,
.vai-content-block>p {
    font-size: 20px;
}

/*Break-Point 800*/
@media(max-width: 800px) {
    #vai-title__info-nav-compartilhe {
        display: none;
    }

    .vai-content-block {
        height: fit-content;
        margin-bottom: 25px;
    }
}

/*Break-Point 500*/
@media(max-width: 500px) {
    .vai-content-title {
        font-size: 22px;
    }

    .vai-content-block>ul>li {
        font-size: 18px;
    }

    #vai-content-btn-box {
        margin-top: 50px;
    }
}

/*Break-Point 400*/
@media(max-width: 400px) {
    #va-title__info>p {
        font-size: 18px;
    }

    .vai-content-title {
        font-size: 20px;
    }

    .vai-content-block>ul>li {
        font-size: 18px;
    }

    #vai-content-btn-box {
        margin-top: 50px;
    }
}