.main-buttons-pos {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 1%;
}

.main-buttons {
    border-radius: 20px;
    background: #0574BB;
    padding: 8px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-buttons:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;   
    transform: translateY(-2px);
}

.main-buttons:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

@media (max-width:900px) {
    .main-buttons-pos {
        margin: 0 auto;
    }
}