:root {
  --color-1: #2F4F4F;
  --color-2: #ffffff;
  --color-3: #000000;
  --color-4: #efecec;
  --color-5: #245C4D;
  --color-6: #0574BB;
}

.title-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-1);
  margin: 10px auto 0;
  border-radius: 2px;
  margin-bottom: 1rem;
}

#title {
  color: var(--color-1);
  font-size: 50px;
}