body {
  font-family: Arial, sans-serif;
  background-color: white;
 
}

.container {
  width: 70%;
  margin: auto;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#checkbox_admin{
  display:flex;
 
  align-items: center;
}

form label {
  width:fit-content;
  display: inline block;
  margin-top: 10px;
}

form input, form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

#me_administrador {
  width:auto;
  margin-left: 10px;
  align-self: center;
  margin-top:10px;
}

form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #2d89ef;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #429dff;
}

#msg {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
