body {
  margin: 0;
  background-color: #f8f9fa;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  text-align: center;
}

.welcome h1 {
  color: #004d40;
  margin: 0;
}

.welcome p {
  color: #666;
  margin: 5px 0 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.full-card h2 {
  color: #007bff;
  font-size: 2rem;
  margin: 15px 0 10px;
  text-align: center;
  
}
.full-card a{
  text-decoration: none;
}

.card p {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 0.95rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}