.container {
  width: 70%;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  flex: 1 1 100%;
  font-weight: bold;
  margin-top: 10px;
}

input, textarea, select, button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #429dff;
}

#logoutBtn{
    background-color: rgb(211, 43, 43);
}

#logoutBtn:hover{
    background-color: rgb(211, 84, 84);
}